/main.aux
/main.log
/indent.log
/main.pdf
/main.out
/main.toc
/main.synctex.gz
/main.run.xml
/main.bcf
/scripts/content.md
/scripts/content.tex
/scripts/content_fixed.tex
/scripts/content_fixed_no_format.tex
/scripts/content_fixed_full.tex
